<h1>
  <%= @company.company %> details
</h1>

<div>
  <div>
    <a href="/companies">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_company_form/<%= @company.id %>">
      Edit company
    </a>
  </div>

  <div>
    <a href="/delete_company/<%= @company.id %>">
      Delete company
    </a>
  </div>
</div>

<dl>
  <dt>
    Company
  </dt>
  <dd>
    <%= @company.company %>
  </dd>

  <dt>
    Location
  </dt>
  <dd>
    <%= Location.where({:id => @company.location}).pluck(:address).first %>
  </dd>

<br>

</dl>



<h2>Employees</h2>

<dl>

<table>
  <tr>
    <th>
      Name
    </th>

    <th>
      Photo
    </th>
    
    <th>
      Location
    </th>





    <th>
      Profile
    </th>


    <th>
    </th>
  </tr >
  
  

  <% @company.connections.each do |connection| %>
  <tr>
    <td>
      <a href="/connections/<%= connection.id %>">
         <%= connection.name %>
      </a>
     
    </td>
    
    <td>
   <img src= <%= connection.photo %> height="80" >
   </td>

    <td>
      <%= connection.location.pluck(:address).to_sentence%>
    </td>




    <td>
      <a href="<%= connection.linkein %>">
          Linkedin
        </a>
    </td>



    <td>

    </td>
  </tr>
  <% end %>
</table>


<h2>My Meetings With <%=@company.company  %></h2>

<table>
  <tr>
    <th>
      Date
    </th>
    <th>
      Connection
    </th>





    <th>
      Location
    </th>


    <th>
      Meeting type
    </th>



    <th>
    </th>
  </tr>



<% Meeting.where({:user_id => current_user.id}).each do |meeting| %>
  
<% identifier = meeting.connection.pluck(:company_id).first%>
<% x = @company.id %>


<% if x  == identifier %>
  
  <tr>
    

    <td>
      <%= meeting.date %>
      
    </td>
    
    <td>
      <%= meeting.connection.pluck(:name).to_sentence %>
    </td>

    <td>
      <%= meeting.location.pluck(:address).to_sentence %>
    </td>


    <td>
      <%= meeting.meeting_type %>
    </td>

    <td>
      <a href="/meetings/<%= meeting.id %>">
        Show details
      </a>
    </td>
    


  </tr>

<% else %>

  
  <%end%>
  
  <% end %>
  
</table>


<br>
<br>

  <dt>
    Created <%= time_ago_in_words(@company.created_at) %> ago

  </dt>


  <dt>
    Updated <%= time_ago_in_words(@company.updated_at) %> ago
  </dt>

