<h1>
  Add a new meeting
</h1>

<hr>

<%= render("meeting_templates/validation_failures.html.erb") %>

<form action="/insert_meeting_record" method="post">
 


  <div>
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" value="<%= @meeting.date %>">
  </div>


  
  <div>

      <label for="location_id">Location</label>
      <select id="location_id" name="location_id" >
        <% Location.all.order({ :id => :asc }).each do |a_user| %>
          <option value="<%= a_user.id %>">
            <%= a_user.address %>
          </option>
        <% end %>
      </select>
  </div>
  
  
<div>

      <label for="connections_id">Connection</label>
      <select id="connections_id" name="connections_id" >
        <% Connection.all.order({ :id => :asc }).each do |a_user| %>
          <option value="<%= a_user.id %>">
            <%= a_user.name %>
          </option>
        <% end %>
      </select>
</div>




  
<input type="hidden" name= "user_id" value="<%= current_user.id %>" >


  <div>
    <label for="meeting_type">
      Meeting type
    </label>

    <input type="text" id="meeting_type" name="meeting_type" value="<%= @meeting.meeting_type %>">
  </div>
  
    <div>
    <label for="meeting_notes">
      Meeting notes
    </label>

    <textarea id="meeting_notes" name="meeting_notes"><%= @meeting.meeting_notes %></textarea>
  </div>

  <button>
    Create meeting
  </button>
</form>

<hr>

<a href="/meetings">
  Go back
</a>
