<h1>
  Meeting with  <%= @meeting.connection.pluck(:name).first%> (<%= @meeting.date %>)
</h1>

<div>
  <div>
    <a href="/meetings">
      Go back to list of meetings
    </a>
  </div>

  <div>
    <a href="/existing_meeting_form/<%= @meeting.id %>">
      Edit meeting
    </a>
  </div>

  <div>
    <a href="/delete_meeting/<%= @meeting.id %>">
      Delete meeting
    </a>
  </div>
</div>

<dl>

  <dt>
    Date
  </dt>
  <dd>
    <%= @meeting.date %>
  </dd>



  <dt>
    Location
  </dt>
  <dd>
    <%= @meeting.location.pluck(:address).first %>
  </dd>

  
  <dt>
    Meeting type
  </dt>
  <dd>
    <%= @meeting.meeting_type %>
  </dd>
  
  <br>
  
  <dt>
    Meeting notes
  </dt>
  <dd>
    <%= @meeting.meeting_notes %>
  </dd>
  
  <br>
  <br>

  <dt>
    Created <%= time_ago_in_words(@meeting.created_at) %> ago
    
    </dt>


  <dt>
    Updated <%= time_ago_in_words(@meeting.updated_at) %> ago
  </dt>

</dl>

