
<% if current_user.blank? %>

<h1> Looks like you aren't logged in yet! </h1>

<dd>Please login or sign up using the above links.</dd>

<% else %>
<h1>
  Meeting list
</h1>



<a href="/new_meeting_form">
  Add a new meeting
</a>

<hr>





<table>
  <tr>
    <th>
      Date
    </th>
    <th>
      Connection
    </th>





    <th>
      Location
    </th>


    <th>
      Meeting type
    </th>





    <th>
    </th>
  </tr>


  <% @meetings.where({:user_id => current_user.id}).each do |meeting| %>
  <tr>

    <td>
      <%= meeting.date %>
    </td>
    
    <td>
      <%= meeting.connection.pluck(:name).to_sentence %>
    </td>





    <td>
      <%= meeting.location.pluck(:address).to_sentence %>
    </td>


    <td>
      <%= meeting.meeting_type %>
    </td>



    <td>
      <a href="/meetings/<%= meeting.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
  
</table>

<% end %>


