<h1>
  Edit meeting with <%= @meeting.connection.pluck(:name).to_sentence %>
</h1>

<hr>

<%= render("meeting_templates/validation_failures.html.erb") %>

<form action="/update_meeting_record/<%= @meeting.id %>" method="post">

    <input type="hidden" id="connections_id" name="connections_id" value="<%= @meeting.connections_id %>">


  <div>
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" value="<%= @meeting.date %>">
  </div>

  <div>
    <label for="meeting_notes">
      Meeting notes
    </label>

    <textarea id="meeting_notes" name="meeting_notes" rows="3"><%= @meeting.meeting_notes %></textarea>
  </div>

  <div>

      <label for="location_id">Location</label>
      <select id="location_id" name="location_id" >
        <% Location.all.order({ :id => :asc }).each do |a_user| %>
          <option value="<%= a_user.id %>">
            <%= a_user.address %>
          </option>
        <% end %>
      </select>
  </div>

    <input type="hidden" id="user_id" name="user_id" value="<%= @meeting.user_id %>">
  </div>

  <div>
    <label for="meeting_type">
      Meeting type
    </label>

    <input type="text" id="meeting_type" name="meeting_type" value="<%= @meeting.meeting_type %>">
  </div>

  <button>
    Update meeting
  </button>
</form>

<hr>

<a href="/meetings">
  Go back
</a>
