

<div>
  <div>
    <a href="/connections">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_connection_form/<%= @connection.id %>">
      Edit connection
    </a>
  </div>

  <div>
    <a href="/delete_connection/<%= @connection.id %>">
      Delete connection
    </a>
  </div>
</div>

<h1>
  <%= @connection.name %> 
</h1>

  <dd>
   <img src= <%= @connection.photo %> height = 150x >
  </dd>

<dl>
  <dt>
    Company
  </dt>
  <dd>
    <%= @connection.company.pluck(:company).first %>
  </dd>

  <dt>
    Location
  </dt>
  <dd>
    <%= @connection.location.pluck(:address).to_sentence%>
  </dd>


  <dt>
            <a href="<%= @connection.linkein %>">
          Linkedin
        </a>
  </dt>


  <dt>
Created <%= time_ago_in_words(@connection.created_at) %> ago </dt>

  <dt>
  Last Updated <%= time_ago_in_words(@connection.updated_at) %> ago
  </dt>
  
  
 
</dl>

<h3>Meetings With <%=@connection.name%></h3>



<table>
  <tr>
    <th>
      Date
    </th>


    <th>
      Location
    </th>

    <th>
      Meeting type
    </th>

    <th>
      Meeting notes
    </th>

    <th>
    </th>
  </tr>



<% Meeting.where({:user_id => current_user.id}).where({:connections_id => @connection.id}).each do |meeting| %>
  
  
  <tr>

    <td>
      <%= meeting.date %>
   </td>
    

    <td>
      <%= meeting.location.pluck(:address).to_sentence %>
    </td>

    <td>
      <%= meeting.meeting_type %>
    </td>

    <td>
      <%= meeting.meeting_notes %>
    </td>

    <td>
      <a href="/meetings/<%= meeting.id %>">
        Show details
      </a>
    </td>
    


  </tr>
<% end %>
  
  
  
</table>





