<% if current_user.blank? %>

<h1> You need to sign in to use this app! </h1>

<dd>Please login or sign up using the above links.</dd>

<% else %>

<h1>
  Contacts 
</h1>

<a href="/new_connection_form">
  Add a new contact
</a>

<hr>

<table>
  <tr>
    <th>
      Name
    </th>
    
        <th>
      Photo
    </th>

    <th>
      Company
    </th>

    <th>
      Location
    </th>





    <th>
      LinkedIn
    </th>


    <th>
    </th>
  </tr>

  <% @connections.each do |connection| %>
  <tr>
    <td>
      <%= connection.name %>
    </td>
    
    <td>
   <img src= <%= connection.photo %> height="80" >
   </td>

    <td>
      <%= connection.company.pluck(:company).first %>
    </td>

    <td>
      <%= connection.location.pluck(:address).to_sentence%>
    </td>





    <td>
      <a href="<%= connection.linkein %>">
          Linkedin
        </a>
    </td>



    <td>
      <a href="/connections/<%= connection.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

  <% end %>
